.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.input-container {
  display: flex;
  align-items: center;
}

input{
  padding: 5px;
  margin-right: 5px;
  width: 399px;
  height: 46px;
  background-color: #F8FEFF;
}

input + img {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 345px;
}

.state{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.schedule{
  display:flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
 gap:20px;
 margin-right: 320px;

}