.tail{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jim {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.set {
  flex: 1;
  padding: 20px;
}

.form-container {
  flex: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.webinar{
  width: 376px;
height: 46px;
padding: 16px 0px 0px 0px;
gap: 4px;
border-radius: 12px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
background: #F8F8FC;

}

.label-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}
.description{
  margin-right: 100px;
  margin-left: 100px;
  width: 376px;
height: 100px;
padding: 16px 0px 0px 0px;
gap: 4px;
border-radius: 12px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
 background: #F8F8FC;
;
}
.input-container,
.select-container,
.date-picker-container {
  display: flex;
  flex-direction: column;
}

.input-field,
.select-field,
.date-picker,
.time-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  
}
.zone{
  width:376px;
height: 46px;
padding: 10px ;
gap: 161px;
border-radius: 12px ;
border: 1px;
opacity: 0px;
background: #F8F8FC;


}
.end{
  width: 188px;
height: 46px;
padding: 7px 12px 7px 12px;
gap: 12px;
border-radius: 12px;
border: 1px;
opacity: 0px;
background: #F8F8FC;


}
.guide{
width:376px;
height: 46px;
padding: 16px;
gap: 4px;
border-radius: 12px;
border: 1px;
opacity: 0px;
background: #F8F8FC;


}
.submit-button {
  width: 376px;
height: 52px;
padding: 14px 24px 14px 24px;
gap: 8px;
border-radius: 12px;
opacity: 0px;
background: #37169C;


  color: white;
  border: none;
  
  cursor: pointer;
  font-size: 16px;
  align-self: flex-start;
}

.submit-button:hover {
  background-color: #0056b3;
}

.merged-time-container {
  display: flex;
  align-items: center;
  
}

.merged-time-container .input-field {
  flex: 1;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  margin-bottom: 0;
}

.merged-time-container .input-field::placeholder {
  text-align: center;
}

