.carousel-container {
  width: 587px;
  height: 750px;
  border-radius: 24px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  ); /* Apply linear gradient background */
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 587px;
  height: 750px;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 24px;
  /* Ensure images respect the container's border radius */
}

.carousel-image.active {
  opacity: 1;
}
